appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
black==19.10b0
Click==7.0
Django==3.0.2
django-filter==2.2.0
djangorestframework==3.11.0
mccabe==0.6.1
mypy==0.761
mypy-extensions==0.4.3
pathspec==0.7.0
pycodestyle==2.5.0
pydocstyle==5.0.1
pyflakes==2.1.1
pylama==7.7.1
pytz==2019.3
regex==2020.1.8
snowballstemmer==2.0.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
